body {
  background-color: beige;
  background-image: url('cityskyline.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  color: forestgreen;
  text-decoration: none;
}
a:hover {
  color:indigo;
  font-size:24px;
  font-weight:bold;
}
p a {
  color: gold
}
p {
  font-family: sans-serif;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: lower-alpha;
}
