body {
  margin: 0; padding: 0;
  background: url('../images/gradientblue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  color: blue;
  padding: 20px;
  background: orange;
}
ul {
margin-top: 20px;
}
 ul li {
  list-style-type: none;
  display: inline;
}
ul li a {
  padding: 20px;
  color: yellow;
  background: green;
  background-size: cover;
  background-position: bottom;
}
ul li a:hover {
  background-position: top;
  color: red;
}
